@font-face {
  font-family: 'Beth';
  src: url('./assets/BethEllen-Regular.ttf'); 
} 

:root {
  --pink: rgba(244, 139, 127, 0.5);
}

body {
  background-image: url('./assets/img/linedPaper.jpg');
  cursor: url('./assets/img/pencilSmall.png'), auto;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title, .game-message {
  font-family: 'Beth', cursive;
}
.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-row, .middle-row, .bottom-row {
  display: flex;
  flex-direction: row;
}
.square {
  width: 100px;
  height: 100px;
}
.square:hover, .win {
  background-color: var(--pink);
}
#tl, #tm, #tr, #ml, #mm, #mr {
  border-bottom: 3px solid black;
}
#tm, #mm, #bm {
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.reset {
  font-size: 1.2em;
  background-color: white;
  border: 1px solid lightblue;
}
.reset:hover {
  background-color: var(--pink);
  cursor: pointer;
}

.xMove {
  background-image: url('./assets/img/transparentX.png');
  background-size: cover;
}
.oMove {
  background-image: url('./assets/img/transparentO.png');
  background-size: cover;
}
